.menu li{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#main-nav li{
    width: 120px;
    background-color: pink;
    text-align: center;
    padding: 5px;
}

.sub-menu{
    position: absolute;
    top: 28px;
    right: 1px;
    visibility: hidden;
}

.menu li:hover .sub-menu{
    visibility: visible;
    }

.menu li a:hover{
    background-color: black;

    }
